.book-cart{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book-sort{
    float:right;

}

.book-filter{
    padding-bottom: 15px;
}

.book-count span{
    font-weight: 500;
}

.books{
    height:235px;
    width:210px;
    margin-bottom: 15px;
    border:1px solid;
    border-color: #878787;
}
.books:hover{
    cursor:pointer;
    box-shadow: rgb(0, 0, 0,0.187) 2px 2px 5px 5px;

}
.book-image{
    height:132px;
    width:160px;
    // border: 1px solid;
    background-color: #F5F5F5;
    padding-left: 50px;
    padding-top: 15px;
}

.book-title{
    width: 200px;
    height: 19px;
/* UI Properties */
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-left: 15px;
    padding-top: 10px;
}

.book-author{
    width: 113px;
    height: 13px;
/* UI Properties */
text-align: left;
font: normal normal normal 10px/13px Roboto;
letter-spacing: 0px;
color: #878787;
opacity: 1;
padding-left: 15px;

}

.book-price{
    width: 408px;
height: 16px;
/* UI Properties */
text-align: left;
font: normal normal bold 12px/16px Roboto;
letter-spacing: 0px;
color: #0A0102;
opacity: 1;
padding-left: 15px;
padding-top: 5px;

}
.book-price span{
    padding-left:5px;
    width: 36px;
    height: 13px;
/* UI Properties */
    text-align: left;
    text-decoration: line-through;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.book-rating{
    width: 333px;
    height: 16px;
/* UI Properties */
    border-radius: 1px;
    opacity: 1;
    padding-left: 15px;

}
.book-rating .rating{

    background: #388E3C 0% 0% no-repeat padding-box;
    color:white;
    font-size: 12px;
}
.book-rating .rating-count{
    padding-left:5px;

    width: 18px;
    height: 13px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}


