<div class="container">
    <div class="container-body">
        
        <div class="img-object">
            <img src="../../../assets/cart.png" alt="" srcset="" height="245px" width="245px">
            <br><br>
            <p>Online Book Shopping</p>
        </div>
        <div class="login-signup-container">
            <div class="login-signup-row">
                <ul>
                    <li><a (click)="goToLogin()" [ngClass]="{'active':login}">LOGIN</a></li>
                    <li><a (click)="goToSignUp()" [ngClass]="{'active': !login}">SIGNUP</a></li>
                </ul>
                <!-- <router-outlet></router-outlet> -->
                <app-logincomponent *ngIf="login"></app-logincomponent>
                <app-signupcomponent *ngIf="!login"></app-signupcomponent>

            </div>
        
        </div>
    </div>
</div>