<div class="image">
    <img src="../../assets/Screenshot 2024-03-26 111818.png">
   
</div>
<div class="text">
    <div class="first">
        hurray!!! your order is confirmed
    </div>
    <div class="text-text">
        the order id is #123456 save the order id for 
    </div>
    <div class="third">
        further communication..
    </div>
</div>

<div class="address-div">
    
    <div class="email">
        Email us
    </div>
    <div class="contact">
        Contact us
    </div>
    <div class="Address">
        Address
    </div>
</div>

<div class="data-div">
    
    <div class="email-div">
        <span>admin@bookstore.com </span> </div>
    <div class="contact-div">
<span>        +91 9573691101   </span> </div>
    <div class="Address-div">
        <span>
            42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034

        </span>
    </div>
</div>

<div class="button">
    <button routerLink="/carts" >Continue Shopping</button>
</div>