label{
    //border: 2px solid;
    font-size: 12px;
    color: #878787;
}

input[type="text"]{
    width: 97.5%;
    height: 25px;
    border: 2px solid #878787;
    font-size: medium;
    //margin-bottom: 2px;
    border-radius: 2px;

    
}

// .email-m1{
//     margin-bottom: 4px;
// }

// .email-m2{
//     margin-bottom: 0px;
// }

input[type="text"]:focus {
    outline: 2px solid #FF001C;
    border: none;
    width: 98.5%;
    height: 26px;
}


.password{
    width: 99%;
    height: 27px;
    border: 2px solid #878787;
    //font-size: large;
    //margin-bottom: 8px;
    border-radius: 2px;
}

.password input{
    //position: relative;
    width: 85.5%;
    height: 25px;
    border: none;
    outline: none;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0);
    //margin-bottom: 8px;
    //border-radius: 2px;
    position: relative;
    bottom: 7px;
}

mat-icon{
    // position: absolute;
    // right: 65px;
    // bottom: 236px;
    color: #494747;
    height: 10px;
    margin-top: 2px;
}

.forgetLink{
    float: right;
    color: #878787;
    font-size: 12px;
    margin-top: 3px;
}


.login{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 3px;
    border: none;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    
}



mat-divider{
    width: 80%;
    margin: 0px auto;
}

p{
    position: relative;
    bottom: 8px;
    left: 110px;
    width: 50px;
    border-radius: 3px ;
    background-color: white;
    text-align: center;
    color: #343434;
    font: normal normal bold 14px/18px Roboto;
}


.Facebook{
    width: 48%;
    background: #4266B2 0% 0% no-repeat;
    border-radius: 3px;
    height: 37px;
    color: white;
    border: none;
}

.m-2{
    margin-top: 3px;
}

.Google{
    width: 48%;
    border-radius: 3px;
    height: 39px;
    font-weight: bold;
    border: none;
    border: 1px solid #E4E4E4;
    margin-left: 10px;
}


.mat-hint{
    color: red;
    font-size: x-small;
    height: 10px;
}